<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    
    RewriteEngine On
    
    # Redirect all access to files in core and vendor directory to 404 page
    RewriteRule ^core/.*$ - [L,R=404]
    RewriteRule ^vendor/.*$ - [L,R=404]
    RewriteRule ^configs/.*$ - [L,R=404]
    
    # Show 404 if any md file requested from root except index.php
    # RewriteCond %{REQUEST_FILENAME} \.
    # RewriteRule ^ - [L,R=404]
    
    # Show 404 if LICENSE file requested
    RewriteCond %{REQUEST_FILENAME} LICENSE
    RewriteRule ^ - [L,R=404]
    
    # Show 404 if any env file requested
    RewriteCond %{REQUEST_FILENAME} \.env$
    RewriteRule ^ - [L,R=404]
    
    # Show 404 if any env file requested
    RewriteCond %{REQUEST_FILENAME} \.gitignore$
    RewriteRule ^ - [L,R=404]
    
    # Show 404 if any md file requested
    RewriteCond %{REQUEST_FILENAME} \.md$
    RewriteRule ^ - [L,R=404]
    
    # Redirect all access to files named composer.*
    RewriteCond %{REQUEST_FILENAME} composer\.+
    RewriteRule ^ - [L,R=404]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
